<mat-toolbar color="primary">
  <span>Gestão de Empréstimos</span>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/clientes" routerLinkActive="active-link">
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle>Clientes</span>
      </a>
      <a mat-list-item routerLink="/emprestimos" routerLinkActive="active-link">
        <mat-icon matListItemIcon>payments</mat-icon>
        <span matListItemTitle>Empréstimos</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
